<div class="content justify-content-center">
  <div class="row justify-content-center">
    <div class="col-md-12 col-lg-10 col-xl-8 h-50">
      <h3 class="text-center">All our quizzes</h3>
      <div class="row justify-content-center">
        <% @quizzes.each do |quizz| %>
          <div class="card m-2 text-center" style="width: 21rem;">
            <div class="card-body">
              <h5 class="card-title"><%= quizz.title %></h5>
              <%= link_to "Try it !", quizz_result_path(quizz), class: "card-link btn btn-danger" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-12 text-center">
      <%= link_to "Back to your dashboard", root_path, class: "text-center btn btn-outline-secondary" %>
    </div>
  </div>
</div>
