<h4><%= result.quizz.title %></h4>
<span><span class="fw-bold"><%= result.score %> / 5</span> right answers. <span class="fw-bold <%= result.passed ? "text-success" : "text-danger" %>"><%= result.passed ? "Passed !" : "Failed..." %></span></span>